$lightRedColor: #ed5565;
$greyColor: #434a54;
$greyFontColor: #c6cbd2;
$mainBackgroundColor: #f0f2f5;
$navBorderColor: #da4453;
$radius: 7px;

.navigationLink {
  font-size: 16px;
  font-family: "OpenSansLight", sans-serif;
  padding-top: 25px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}
.hiddenMenuLink {
  @extend .navigationLink;
  padding: 0;
  font-size: 14px;
}

.section__header {
  font-family: "PTSansRegular", sans-serif;
  font-size: 23px;
  color: $lightRedColor;
  display: inline-block;
}

.little__gray__text {
  font-size: 12px;
  padding-right: 40px;
  font-family: "ArialNarrowRegular", sans-serif;
  color: #99a3b1;
}
.label__text {
  font-family: "OpenSansLight", sans-serif;
  font-size: 13px;
  color: #768082;
  display: block;
  padding-bottom: 10px;
  padding-top: 30px;
}

