.general {
  @include span(12);
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
}

//==================================================================================
// variables
//==================================================================================

$shadow: 0 3px 0 0 #e3e4e8;

//==================================================================================
// End of variables
//==================================================================================


/*
  15 news section
  88 login section
  227 social section
*/

//==================================================================================
// news section
//==================================================================================

.latest__posts {
  @include span(4);
  padding: 0;
  background-color: #ffffff;
  border-radius: $radius;
  box-shadow: $shadow;
}

.news {
  @extend .section__header;
  background-color: #f6f8fa;
  display: block;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

.news__link {
  @extend .news;
  text-decoration: none;
  padding: 20px 0 20px 20px;
}

.post {
  padding: 20px 10px 20px 20px;
}

.post__img__wrapper {
  @include clearfix();
  float: left;
}

.post__img {
  max-width: 80px;
  max-height: 80px;
  border: 1px solid #e3e4e8;
  border-radius: $radius;
}

.post__descr__wrapper {
  padding-left: 100px;
}

.post__header {
  font-size: 14px;
  font-family: "OpenSansRegular", sans-serif;
  color: $lightRedColor;
}

.post__link {
  text-decoration: none;
  @extend .post__header;
}

.post__descr {
  @extend .little__gray__text;
}

.post__delimiter {
  height: 1px;
  background-color: #e3e4e8;
  width: 271px;
  margin: 0 auto;
  margin-top: 30px;
  &:last-child{
    visibility: hidden;
  }
}

//==================================================================================
// End of news section
//==================================================================================

//==================================================================================
// login section
//==================================================================================

.login {
  @include span(7.3 last);
  background-color: #ffffff;
  padding: 20px 5px 10px 20px;
  border-radius: $radius;
  box-shadow: $shadow;
}

.sign-in {
  @include span(6.9 of 12);
  padding-top: 20px;
}

.login__header {
  @extend .section__header;
  background-color: #ffffff;
}

.login__descr {
  @extend .little__gray__text;
  padding-top: 13px;
}

.login__label,
.password__label {
  @extend .label__text;
}

#login__input,
#password__input {
  width: 281px;
  border: 2px solid #e3e4e8;
  border-radius: $radius;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  font-family: "OpenSansLight", sans-serif;
  font-size: 12px;
  color: #768082;
  outline: none;
}

#remember__me {
  display: none;
}

.checkbox__wrapper {
  background-color: #ffffff;
  position: relative;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label span.check__img {
  position: absolute;
  top: 20px;
}

input[type="checkbox"] + label span.check__img::before {
  display: inline-block;
  content: "";
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  border-radius: $radius;
  border: 1px solid #e4e5e9;
  transition: border .9s;
}

input[type="checkbox"]:checked + label span.check__img::before {
  border: 1px solid #3aff56;
}

input[type="checkbox"] + label span.check__img::after {
  display: inline-block;
  position: absolute;
  content: "";
  top: -2px;
  left: 1px;
  width: 18px;
  height: 15px;
  background-image: url("../images/sprites.png");
  background-position: 41px 0;
  transition: background-position .3s;
}

input[type="checkbox"]:checked + label span.check__img::after {
  background-position: 20px 0;
}

.checkbox__label {
  @extend .label__text;
  display: inline-block;
  padding-top: 21px;
  padding-left: 25px;
  transition: color .3s;
  cursor: pointer;
}

input[type="checkbox"]:checked + label span.checkbox__label {
  color: #3aff56;
}

.login__submit {
  width: 128px;
  height: 40px;
  border: none;
  border-radius: $radius;
  color: #ffffff;
  font-family: "ArialNarrowBold", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: $lightRedColor;
  margin: 20px 0 20px 86px;
}

.login__divider {
  height: 382px;
  width: 1px;
  margin-top: 10px;
  background-color: #e3e4e8;
  display: inline-block;
}

//==================================================================================
// End of login section
//==================================================================================

//==================================================================================
// social section
//==================================================================================

.social {
  @include span(5 of 12 last);
  padding-top: 20px;
}

.social__header {
  @extend .section__header;
}

.social__descr {
  @extend .little__gray__text;
  padding-top: 13px;
  padding-right: 0;
}

.social__wrapper {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.login__facebook,
.login__twitter,
.login__google {
  margin-bottom: 10px;
  text-align: center;
  font-family: "ArialNarrowRegular", sans-serif;
  font-size: 12px;
  width: 198px;
  height: 45px;
  border-radius: 6px;
  color: #ffffff;
  line-height: 45px;
  cursor: pointer;
  transition: background-color .8s;
}

.facebook__icon,
.twitter__icon,
.google__icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  float: right;
  color: #ffffff;
  font-size: 22px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.login__facebook {
  background-color: #5d9cec;
}

.facebook__icon {
  background-color: #4b89dc;
}

.login__twitter {
  background-color: #4fc0e8;
}

.twitter__icon {
  background-color: #3aafda;
}

.login__google {
  background-color: #ee5567;
}

.google__icon {
  background-color: #db4453;
  background-image: url("../images/sprites.png");
  background-repeat: no-repeat;
  background-position: -16px 15px;
}

//==================================================================================
// End of social section
//==================================================================================


