@import "compass/css3/user-interface";
.navigation {
  @include span(12);
  height: 63px;
  background-color: $lightRedColor;
  border-radius: $radius;
  padding-left: 0;
  border-bottom: 3px solid $navBorderColor;
}

//==================================================================================
// menu variables
//==================================================================================

$bar-width: 30px;
$bar-height: 5px;
$bar-spacing: 10px;

//==================================================================================
// End of menu variables
//==================================================================================

.hamburger-menu {
  width: $bar-width;
  height: $bar-height + $bar-spacing*2;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
  &--active {
    background-color: $navBorderColor;
    padding-top: 22px;
    padding-bottom: 13px;
  }
}

.bar,
.bar:after,
.bar:before {
  width: $bar-width;
  height: $bar-height;
  border-radius: 13px;
}

.bar {
  position: relative;
  transform: translateY($bar-spacing);
  background: rgba(255, 255, 255, 1);
  transition: all 0ms 300ms;

  &.animate {
    background: rgba(255, 255, 255, 0);
  }
}

.bar:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
  content: "";
  position: absolute;
  left: 0;
  top: $bar-spacing;
  background: rgba(255, 255, 255, 1);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.bar.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}


.nav__item {
  float: left;
  height: 63px;
  &:not(:last-child){
    border-right: 1px solid #da4453;
  }
  &:last-child{
    position: relative;
  }
}

.nav__link {
  @extend .navigationLink;
}
.hidden__menu {
  margin-top: 3px;
  background-color: #434a54;
  width: 220px;
  position: absolute;
  border-radius: $radius;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .5s linear;
}
.hidden__menu--open{
  visibility: visible;
  opacity: 1;
}
.hidden__menu__item{
  cursor: pointer;
  &--active{
    background-color: #393f48;
  }
}
.hidden__link {
  @extend .hiddenMenuLink;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
  width: 95%;
  height: 100%;
}
#search__input {
  margin-left: 60px;
  width: 231px;
  height: 34px;
  outline: none;
  margin-top: 13px;
  border: none;
  border-radius: $radius;
  padding-left: 25px;
  padding-bottom: 3px;
  font-size: 12px;
  font-family: "OpenSansRegular", sans-serif;
  @include input-placeholder {
    color: #959596;
    font-size: 12px;
    font-family: "OpenSansRegular", sans-serif;
  }
}
.search__icon{
  background-image: url("../images/sprites.png");
  position: absolute;
  top: 25px;
  right: 10px;
  width: 17px;
  height: 17px;
}